<a href="https://colab.research.google.com/github/Navin412/Python_Practice/blob/main/Pre_Defined_Functions_in_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

=>On List we can Perform the Following Operations

1. By using Indexing, we can get One Value
2. By using Slicing, we can get range of values
3. By using Indexing, we can Update the Value of List
4. By using Slicing, we can get Update range of values of List.

=>Along with the above Operations, we can Perform Various Operations by using Pre-Defined Functions Present in list object.

=>The Pre-Defined  Fucntions of list are

1.append()

=>Syntax:   listobject.append(value)

=>This Function is used for adding the value to List Object at the end (Knowan as appending).

In [3]:
lst=[10,"RS",33.33]
print(lst,type(lst),id(lst))
lst.append(True)
print(lst,type(lst),id(lst))
lst.append("NL")
print(lst,type(lst),id(lst))

[10, 'RS', 33.33] <class 'list'> 135862866307392
[10, 'RS', 33.33, True] <class 'list'> 135862866307392
[10, 'RS', 33.33, True, 'NL'] <class 'list'> 135862866307392

In [6]:
lst=list()
print(lst,type(lst),id(lst))
lst.append(10)
print(lst,type(lst),id(lst))
lst.append(20.09)
print(lst,type(lst),id(lst))
lst.append(True)
print(lst,type(lst),id(lst))

[] <class 'list'> 135862866331584
[10] <class 'list'> 135862866331584
[10, 20.09] <class 'list'> 135862866331584
[10, 20.09, True] <class 'list'> 135862866331584


2. insert()
-------------------------------------------------------------------------------------------------------------------------------------------------------
=>Syntax:   listobject.insert(index,Value)
=>This Function is used for Adding the Value at the Specified Index

In [7]:
# Examples
lst=[10,"RS",33.33]
print(lst,type(lst),id(lst))
lst.insert(1,"NL")
print(lst,type(lst),id(lst))
lst.insert(0,2+3j)
print(lst,type(lst),id(lst))
lst=[10,"RS",33.33]
print(lst,type(lst),id(lst))
lst.insert(-1,"NL")
print(lst,type(lst),id(lst))

[10, 'RS', 33.33] <class 'list'> 135862866322304
[10, 'NL', 'RS', 33.33] <class 'list'> 135862866322304
[(2+3j), 10, 'NL', 'RS', 33.33] <class 'list'> 135862866322304
[10, 'RS', 33.33] <class 'list'> 135862866306240
[10, 'RS', 'NL', 33.33] <class 'list'> 135862866306240