<a href="https://colab.research.google.com/github/Navin412/Python_Practice/blob/main/Pre_Defined_Functions_in_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

=>On List we can Perform the Following Operations

1. By using Indexing, we can get One Value
2. By using Slicing, we can get range of values
3. By using Indexing, we can Update the Value of List
4. By using Slicing, we can get Update range of values of List.

=>Along with the above Operations, we can Perform Various Operations by using Pre-Defined Functions Present in list object.

=>The Pre-Defined  Fucntions of list are

1.append()

=>Syntax:   listobject.append(value)

=>This Function is used for adding the value to List Object at the end (Knowan as appending).

In [ ]:
lst=[10,"RS",33.33]
print(lst,type(lst),id(lst))
lst.append(True)
print(lst,type(lst),id(lst))
lst.append("NL")
print(lst,type(lst),id(lst))

[10, 'RS', 33.33] <class 'list'> 135862866307392
[10, 'RS', 33.33, True] <class 'list'> 135862866307392
[10, 'RS', 33.33, True, 'NL'] <class 'list'> 135862866307392

In [ ]:
lst=list()
print(lst,type(lst),id(lst))
lst.append(10)
print(lst,type(lst),id(lst))
lst.append(20.09)
print(lst,type(lst),id(lst))
lst.append(True)
print(lst,type(lst),id(lst))

[] <class 'list'> 135862866331584
[10] <class 'list'> 135862866331584
[10, 20.09] <class 'list'> 135862866331584
[10, 20.09, True] <class 'list'> 135862866331584


2. insert()
-------------------------------------------------------------------------------------------------------------------------------------------------------
=>Syntax:   listobject.insert(index,Value)
=>This Function is used for Adding the Value at the Specified Index

In [ ]:
# Examples
lst=[10,"RS",33.33]
print(lst,type(lst),id(lst))
lst.insert(1,"NL")
print(lst,type(lst),id(lst))
lst.insert(0,2+3j)
print(lst,type(lst),id(lst))
lst=[10,"RS",33.33]
print(lst,type(lst),id(lst))
lst.insert(-1,"NL")
print(lst,type(lst),id(lst))

[10, 'RS', 33.33] <class 'list'> 135862866322304
[10, 'NL', 'RS', 33.33] <class 'list'> 135862866322304
[(2+3j), 10, 'NL', 'RS', 33.33] <class 'list'> 135862866322304
[10, 'RS', 33.33] <class 'list'> 135862866306240
[10, 'RS', 'NL', 33.33] <class 'list'> 135862866306240

3.remove()-------Based on  Value

=>Syntax:      ListObj.remove(Value)

=>This Function is used for Removing the First Occurence of the Specified Value.

=>If the Specified Value does not Exist in List Object then we get ValueError

In [ ]:
lst=[10,20,30,40,50,60,10,20,30]
print(lst,id(lst))
lst.remove(10)
print(lst,id(lst))
lst.remove(20)
print(lst,id(lst))
lst.remove(20)
print(lst,id(lst))
# lst.remove(20) ----------------------ValueError: list.remove(x): x not in list
#[].remove(10)----------------------ValueError: list.remove(x): x not in list
#list().remove(10)------------------ValueError: list.remove(x): x not in list

[10, 20, 30, 40, 50, 60, 10, 20, 30] 138938057775168
[20, 30, 40, 50, 60, 10, 20, 30] 138938057775168
[30, 40, 50, 60, 10, 20, 30] 138938057775168
[30, 40, 50, 60, 10, 30] 138938057775168

4.pop(index)--Based Index
-------------------------------------------------------------------------------------------------------------------------------------------------------
Syntax:   listobj.pop(index)

=>This Function removes the value from List object based on Index and It can be either +Ve OR -VE.

=>If the Value of Index is Invalid then we get IndexError.

In [ ]:
# Examples
lst=[10,20,30,40,10,20,30,40]
print(lst,id(lst))
lst.pop(-1)
print(lst,id(lst))
lst.pop(3)
print(lst,id(lst))
lst.pop(-2)
print(lst,id(lst))
#lst.pop(10)----------------------IndexError: pop index out of range
#[].pop(0)-------------------------IndexError: pop from empty list
#list().pop(-1)--------------------IndexError: pop from empty list

[10, 20, 30, 40, 10, 20, 30, 40] 138938058093184
[10, 20, 30, 40, 10, 20, 30] 138938058093184
[10, 20, 30, 10, 20, 30] 138938058093184
[10, 20, 30, 10, 30] 138938058093184

5. pop()
-------------------------------------------------------------------------------------------------------------------------------------------------------
Syntax:   listobj.pop()
=>This function is used for Removing the Last Element from List Object.

=>When we call this function on empty list object then we get IndexError.

In [ ]:
# Examples
lst=[10,20,30,40,"Python",True,2+3j]
print(lst,id(lst))
lst.pop()
print(lst,id(lst))
lst.pop()
print(lst,id(lst))
lst.pop()
print(lst,id(lst))

#[].pop()---------------------------------IndexError: pop from empty list
#list().pop()------------------------------IndexError: pop from empty list

[10, 20, 30, 40, 'Python', True, (2+3j)] 138938048590592
[10, 20, 30, 40, 'Python', True] 138938048590592
[10, 20, 30, 40, 'Python'] 138938048590592
[10, 20, 30, 40] 138938048590592

6. clear()
------------------------------------------------------------------------------------------------------------------------------------------------------
=>Syntax:  listobj.clear()

=>This Function removes all the Elements from List Object.

In [ ]:
# Examples
lst=[10,20,30,40,"Python",True,2+3j]
print(lst,id(lst))
print(len(lst))
lst.clear()
print(lst,id(lst))
print(len(lst))
print([].clear())
[].clear()
print(list().clear())

[10, 20, 30, 40, 'Python', True, (2+3j)] 138938059329472
7
[] 138938059329472
0
None
None

 del operator
**********************************************
Syntax-1:    del  MutableObject[Index]-------Index Based Removal

Syntax-2:    del  MutableObject[Begin:End:Step]----Slice Based Removal

Syntax-3:    del  ImmutableMutableObject ---------Deleting Element(s) + Deletes Physical Memory Space.
**********************************************
------------------------------------

In [ ]:
# Examples:
lst=[10,20,30,40]
print(lst,type(lst), id(lst))
del  lst[2]
print(lst,type(lst), id(lst))
del lst[-1]
print(lst,type(lst), id(lst))
del lst[0]
print(lst,type(lst), id(lst))

[10, 20, 30, 40] <class 'list'> 138938059704704
[10, 20, 40] <class 'list'> 138938059704704
[10, 20] <class 'list'> 138938059704704
[20] <class 'list'> 138938059704704

In [ ]:
lst=[10,20,30,40,50,60,70,80]
print(lst,type(lst), id(lst))
del lst[3:6]
print(lst,type(lst), id(lst))
del lst[::2]
print(lst,type(lst), id(lst))

[10, 20, 30, 40, 50, 60, 70, 80] <class 'list'> 138938048588032
[10, 20, 30, 70, 80] <class 'list'> 138938048588032
[20, 70] <class 'list'> 138938048588032

In [ ]:
lst=[10,20,30,40,50,60,70,80]
print(lst,type(lst), id(lst))
del lst
#print(lst,type(lst), id(lst))------------NameError: name 'lst' is not defined.

[10, 20, 30, 40, 50, 60, 70, 80] <class 'list'> 138938048592576

In [ ]:
#del operator w.r.t Immutable object 'str'
s="PYTHON"
#del s[0]-----------------------TypeError: 'str' object doesn't support item deletion
#del s[0:4]---------------------TypeError: 'str' object does not support item deletion
del s

7. index()
-----------------------------------------------------------------------------------------------------------------------------------------------------
Syntax: listobj.index(Value)

=>This function gives Index of First Occurence of Specified Value of List

=>If the Specified Value does not Exist then  we get ValueError.

In [ ]:
# Examples
lst=[10,20,30,40,10,30,10,20]
print(lst)
print(lst.index(10))
lst.index(20)
#lst.index(200)-------------ValueError: 200 is not in list

[10, 20, 30, 40, 10, 30, 10, 20]
0

1

enumerate()
*********************************************************
Syntax:  for index,value in enumerate(Iterbale-Object):
			  print(index,"--->",value)

In [ ]:
#Examples
lst=[10,20,30,10,20,30,10,20]
print(lst)
for index,value in enumerate(lst):
  print(index,"--->",value)

[10, 20, 30, 10, 20, 30, 10, 20]
0 ---> 10
1 ---> 20
2 ---> 30
3 ---> 10
4 ---> 20
5 ---> 30
6 ---> 10
7 ---> 20

In [ ]:
for index,value in enumerate(lst):
  if(value==10):
    print(index,"--->",value)
print('########')
for index,value in enumerate(lst):
  if(value==20):
    print(index,"--->",value)
print('########')
for index,value in enumerate(lst):
  if(value==30):
    print(index,"--->",value)

0 ---> 10
3 ---> 10
6 ---> 10
########
1 ---> 20
4 ---> 20
7 ---> 20
########
2 ---> 30
5 ---> 30

In [ ]:
for ind,val in enumerate("PYTHON"):
  print(ind,"-->",val)
print('########')
for ind,val in enumerate("MISSISSIPPI"):
  print(ind,"-->",val)

0 --> P
1 --> Y
2 --> T
3 --> H
4 --> O
5 --> N
########
0 --> M
1 --> I
2 --> S
3 --> S
4 --> I
5 --> S
6 --> S
7 --> I
8 --> P
9 --> P
10 --> I

In [ ]:
for ind,val in enumerate("MISSISSIPPI"):
  if(val=="I"):
    print(ind,"-->",val)
print('########')
for ind,val in enumerate("MISSISSIPPI"):
  if(val=="S"):
    print(ind,"-->",val)

1 --> I
4 --> I
7 --> I
10 --> I
########
2 --> S
3 --> S
5 --> S
6 --> S

8. count()
-----------------------------------------------------------------------------------------------------------------------------------------------------
Syntax:    listobj.count(Value)

=>This function is used for Counting Number of Occurences of Specified Value.

=>if Specified Value does not exist in list object then we get 0 as result.

In [ ]:
# Examples
lst=[10,20,30,10,10,30,40,20,10]
print(lst)
lst.count(10)
lst.count(20)
lst.count(30)
print(lst.count(40))
print(lst.count(50))
list("121314567").count(1)
list("121314567").count('1')

[10, 20, 30, 10, 10, 30, 40, 20, 10]
1
0

3

In [ ]:
print(list(["MISSISSIPPI"]).count("I"))
print(list(["MISSISSIPPI"]))
print(list(["MISSISSIPPI"])[0].count("I"))
print(list("MISSISSIPPI").count("I"))

0
['MISSISSIPPI']
4
4

9. copy()
-----------------------------------------------------------------------------------------------------------------------------------------------------
=>Syntax:     ListObj2=ListObj1.copy()

=>This Function is used for Copying the content of One ListObj1 into aonther ListObj2 (Implements Shallow Copy).

In [ ]:
# Examples
lst1=[10,"Rossum",23.45]
print(lst1,id(lst1))
lst2=lst1.copy()  # Shallow Copy
print(lst2,id(lst2))
lst1.append("NL")
lst2.insert(1,"HYD")
print(lst1,id(lst1))
print(lst2,id(lst2))

[10, 'Rossum', 23.45] 138937246215168
[10, 'Rossum', 23.45] 138937246208640
[10, 'Rossum', 23.45, 'NL'] 138937246215168
[10, 'HYD', 'Rossum', 23.45] 138937246208640

In [ ]:
# Deep Copy
lst1=[10,"Rossum",23.45]
print(lst1,id(lst1))
lst2=lst1 # Deep Copy
print(lst2,id(lst2))
lst1.append("NL")
print(lst1,id(lst1))
print(lst2,id(lst2))
lst2.insert(0,"HYD")
print(lst1,id(lst1))
print(lst2,id(lst2))

[10, 'Rossum', 23.45] 138937633227584
[10, 'Rossum', 23.45] 138937633227584
[10, 'Rossum', 23.45, 'NL'] 138937633227584
[10, 'Rossum', 23.45, 'NL'] 138937633227584
['HYD', 10, 'Rossum', 23.45, 'NL'] 138937633227584
['HYD', 10, 'Rossum', 23.45, 'NL'] 138937633227584

10. reverse()
-----------------------------------------------------------------------------------------------------------------------------------------------------
Syntax:    ListObj.reverse()

=>This Function is used for Reversing the Elememts of List ( Nothing But Front goes to back and Vice-Versa)

In [3]:
# Examples
lst1=[10,20,12,"Python",True,2+3j]
print(lst1,id(lst1))
lst2=lst1.reverse()
print(lst2)
print(lst1,id(lst1))

[10, 20, 12, 'Python', True, (2+3j)] 136073627970176
None
[(2+3j), True, 'Python', 12, 20, 10] 136073627970176

In [4]:
lst=[1,3,6,-1,0,11]
print(lst,id(lst))
lst.reverse()
print(lst,id(lst))

[1, 3, 6, -1, 0, 11] 136073627970624
[11, 0, -1, 6, 3, 1] 136073627970624

11. sort() --Most Imp
-----------------------------------------------------------------------------------------------------------------------------------------------------
Syntax-1:   ListObj.sort()---------------------------->Used for Sorting the List Similar Type of data in Ascending order

Syntax-2:   ListObj.sort(reverser=False)-------->Used for Sorting the List Similar Type of data in Ascending order

Syntax-3:   ListObj.sort(reverser=True)-------->Used for Sorting the List Similar Type of data in Decending order

In [7]:
lst1=[10,4,15,6,11,22,12,-2]
print(lst1,id(lst1))
lst1.sort()
print(lst1,id(lst1))
lst1.reverse()
print(lst1,id(lst1))
lst1.sort(reverse=True)
print(lst1,id(lst1))

[10, 4, 15, 6, 11, 22, 12, -2] 136073627970048
[-2, 4, 6, 10, 11, 12, 15, 22] 136073627970048
[22, 15, 12, 11, 10, 6, 4, -2] 136073627970048
[22, 15, 12, 11, 10, 6, 4, -2] 136073627970048

In [9]:
lst1=[10,4,15,6,11,22,12,-2]
print(lst1,id(lst1))
lst1.sort(reverse=False)
print(lst1,id(lst1))
lst1.sort(reverse=True)
print(lst1,id(lst1))

[10, 4, 15, 6, 11, 22, 12, -2] 136073628163520
[-2, 4, 6, 10, 11, 12, 15, 22] 136073628163520
[22, 15, 12, 11, 10, 6, 4, -2] 136073628163520

In [10]:
 lst1=[10,"RS",True,2.3,2+4.5j]
 # lst1.sort() -- TypeError: '<' not supported between instances of 'str' and 'int'

TypeError: '<' not supported between instances of 'str' and 'int'

In [11]:
lst1=["Rossum","Hunter","Michel","Kinney","Trump","Dennis"]
print(lst1,id(lst1))
lst1.sort()
print(lst1,id(lst1))

['Rossum', 'Hunter', 'Michel', 'Kinney', 'Trump', 'Dennis'] 136072741085888
['Dennis', 'Hunter', 'Kinney', 'Michel', 'Rossum', 'Trump'] 136072741085888

12. extend()

Syntax: ListObj1.extend(ListObj2)

=>This Function is used for Merging Multiple List Object(s) into single list object.

Programatically:   listobj1.extend(listobj2,listobj3,....listobj-n)----TypeError
To avoid the above

				listobj1.extend(listobj2)
				listobj1.extend(listobj3)
        -----------------------------
				listobj1.extend(listobj-n)
						OR
				listobj1=listobj2+listobj3+....+listobj-n

In [13]:
# Examples
lst1=[10,20,30]
lst2=['RS','TR','DR']
print(lst1,id(lst1))
print(lst2,id(lst2))
lst1.extend(lst2)
print(lst1,id(lst1))
print(lst2,id(lst2))
lst2.extend(lst1)
print(lst2,id(lst2))

[10, 20, 30] 136072741088000
['RS', 'TR', 'DR'] 136072741225536
[10, 20, 30, 'RS', 'TR', 'DR'] 136072741088000
['RS', 'TR', 'DR'] 136072741225536
['RS', 'TR', 'DR', 10, 20, 30, 'RS', 'TR', 'DR'] 136072741225536

In [15]:
lst1=[10,20,30]
lst2=['RS','TR','DR']
lst3=[1.2,3.4,5.6,7.8]
# lst1.extend(lst2,lst3) # TypeError: list.extend() takes exactly one argument (2 given)
lst1.extend(lst2)
lst1.extend(lst3)
print(lst1)

# Merging Multiple List Elements in single list by using + Operator
print(lst1,id(lst1))
lst1=lst1+lst2+lst3
print(lst1,id(lst1))

[10, 20, 30, 'RS', 'TR', 'DR', 1.2, 3.4, 5.6, 7.8]
[10, 20, 30, 'RS', 'TR', 'DR', 1.2, 3.4, 5.6, 7.8] 136072741089856
[10, 20, 30, 'RS', 'TR', 'DR', 1.2, 3.4, 5.6, 7.8, 'RS', 'TR', 'DR', 1.2, 3.4, 5.6, 7.8] 136073638673600